#red,#green,#blue{
    width: 30px;
    height: 30px;

}

#red{
    background-color: red;
    border-color: white;
}

#green{
    background-color: green;
    border-color: white;
}

#blue{
    background-color: blue;
    border-color: white;
}