body{
    display: flex;
}
aside{
    width: 30%;
}
main{
    width: 70%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
#top{
    height: 50vh;
    background-color: pink;
}
#bottom{
    height: 50vh;
    background-color: blueviolet;
}
form{
    padding: 10px;
}

main div{
    width: 10rem;
    height: 5rem;
    background-color: darkblue;
}