header {
    background-color: #4E885C;
    color: orange;
    text-align: center;
    height: 110px;
}
* {
    margin: auto;
}
main{
    display: flex;
}
#left{ 
    background-color: #72A37D;
    width: 30%;
    height: 300px;
}
#mid{
    background-color: #A2C3A9;
    background-image: url(pizza.png);
    width: 40%;
    height: 300px;
}
#right{
    background-color: #72A37D;
    text-align: center;
    width: 30%;
    height: 300px;
}
#down{
    background-color: #A2C3A9;
    text-align: center;
    height: 250px;
}
footer{
    background-color:  #4E885C;
    color: orange;
}
#right a{
    background-color: orange;
    color: green;
    padding: 15px;
}
li{
    list-style-position: inside;
}