input{
    display: block;
    width: 97%;
    margin-bottom: 1,5rem;
}

label {
    margin-bottom: 0,5rem;
}

form {
    width: 30rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: pink;

}
button {
    border-radius: 5px;
    background-color: purple;
}