.bright{
    color: blueviolet;
    background-color: bisque;
    font-size: 28px;
}

.dark{
    color: violet;
    background-color: bisque;
    font-size: 14px;
}

.autumn{
    color: blueviolet;
    background-color: bisque;
    font-size: 42px;
}